.aboutPageContainer{
    width: 100%;
    height: 100%;
}
.aboutUsSection{
    width: 50%;
    height: 100%;
    background-color: #9BE8D8;
    color: black;
}
.objectiveSection{
    width : 50%;
    height : 100%;
    background-color: #78C1F3;
    color: #111;
}
.objectiveContent{
    width: 70%;
    margin: 0 auto;
}
