.logo-container{
    width: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-container{
    background-color: #148ecd;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    color: white;

}
.menu-option{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.menu-option:hover{
    cursor: pointer;
    color: #148ecd;
    background-color: #fff !important;
}